<div class="router-outlet-content">
  <div class="comment-container">
    <div *ngFor="let comment of comments; index as i;">
      <mat-card class="comment-card" *ngIf="i >= 0">
        <mat-card-header class="comment-header">
          <mat-card-title style="font-weight: bold; margin-right: 5px;">Author:</mat-card-title>
          <mat-card-subtitle>
            {{comment.author}}
          </mat-card-subtitle>
        </mat-card-header>
        <div class="comment-content">
          {{comment.comment}}
        </div>
        <mat-card-footer class="comment-footer">
          <button mat-flat-button (click)="viewComment(comment.commentId)" color="primary">View</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
