<mat-toolbar color="primary">
  <h3>{{title}}</h3>
  <nav>
  <button mat-button (click)="goHome()">Home</button>
  <button mat-button (click)="goToNewArticle()">New Article</button>
  </nav>
  <span class="fill-remaining-space"></span>
  <img src="{{userInfo.picture}}" alt="Smiley face" width="42" height="42" *ngIf="userInfo != null">
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="userInfo != null">{{userInfo.name}}</button>
  <button mat-button *ngIf="userInfo == null" (click)="signIn()">Sign In</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="userInfo != null" (click)="signOut()">Sign Out</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
